@tailwind base;
@tailwind components;
@tailwind utilities;

.off {
  --clr-primary: 96, 19%, 56%;
  --clr-primary-text: 0, 0%, 23%;
  --clr-scndry: 0, 0%, 51%;
  --clr-power: 0, 0%, 38%;
}

.on {
  --clr-primary: 96, 100%, 70%;
  --clr-primary-text: 0, 0%, 96%;
  --clr-scndry: 0, 0%, 51%;
  --clr-power: 0, 0%, 96%;
}

.bg-blob {
  background-image: url("../public//icons/blob.svg");
}
